* {
    padding: 0px;
    margin: 0px;
}

.misha-main-section{

    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 50px;
    padding-bottom: 25px;

}

.misha-main-section {
    width: 95%;
    margin: 0 auto;
}

.misha-img {
    clip-path: circle(50% at 50% 50%);
    margin-left: 30px;
    transform: rotate(270deg);
    margin-top: 50px;
    margin-bottom: 25px;
    width: 250px;
    height: 250px;
}

.misha-name-box {

margin-left: 3px;
    width: 100%;
    margin-top: 50px;
    background-image: url(../images/misha-section/bg.jpg);
    background-size: cover;
    border-radius: 10%;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
}

.misha-name {
    font-family: 'Caveat', cursive;
    color: darkred;
    font-size: 50px;
    padding-left: 20px;
}

.misha-quote-box {
    background-image: url(../images/misha-section/purpluer-bg.jpg);
    background-size: cover;
    margin-bottom: 50px;
    border-radius: 10%;
    margin-left: 3px;
}

.misha-quote {
    font-family: 'Caveat', cursive;
    color: #111111;
    font-size: 50px;
}

.misha-quote::before {
    content: "";
    background-image: url(../images/misha-section/quotes.png);
    height: 50px;
    width: 50px;
    transform: rotate(360deg);
    display: inline-block;
    background-size: cover;
}

.misha-quote::after {
    content: "";
    background-image: url(../images/misha-section/quotes.png);
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    display: inline-block;
    background-size: cover;
}

@media (min-width: 768px) {
    .misha-name {
        padding-top: 25px;
        padding-left: 225px;
        margin-bottom: 30px;
    }
.misha-name-box {
    height: 350px;
}
    misha-img {
        margin: 0;
        margin-left: 225px;
margin-top: 10px;
    }
.misha-quote {

padding-left: 40px;
}   
.misha-quote-box {
    width: 600px;
margin:  0 auto;
margin-bottom: 25px;
} 
}
@media (min-width: 1200px) {
misha-img {
width: 300px;
height: 300px;
margin: 0;
margin-top: 20px;
margin-left: 40px;
}
.misha-name {
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #111111;
    font-size: 70px;
    width: 350px;
    border: #2b5876 5px dashed;
margin-left: 100px;
margin-bottom: 100px;
}
.misha-name-box {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
padding: 20px;
}
.misha-quote-box {
    height: 300px;
    width: 400px;
}
}