* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.structure-section {
    margin: 0 auto;
    width: 89%;
    display: block;
}

.container-article::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../images/structure/icon_3.png);
    background-size: contain;
    margin-right: 10px;
    justify-content: flex-start;

}

.container-article {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 78px;
    color: #272727;
    font-family: "Open Sans";
    font-weight: 700;
    display: inline-block;
    height: 30px;
    padding-bottom: 20px;
    justify-content: center;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-list__item {
    height: 260px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

.container-list__item:nth-child(4) {
    background-color: #c8eae8;
    margin-bottom: 60px;
}

.container-list__item:nth-child(3) {
    background-color: #e2d8f5;
}

.container-list__item:nth-child(2) {
    background-color: #fbdcd2;
}

.container-list__item:nth-child(1) {
    background-color: #f6ead0;
}

.list-item__box {
    width: 244px;
    height: 222px;
    border: 5px dashed white;
    outline-color: white;
    border-width: 1.9px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 18px;


}

.list-item__article {
    padding-top: 35px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #272727;
    font-family: "Ubuntu";
    font-weight: 700;
}

.list-item__text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #444444;
    font-family: "Ubuntu";
    font-weight: 400;
    padding-left: 25px;
}

@media (min-width: 768px) {
    .structure-section {
        width: 80.7291667%;
    }

    .container-list__item:nth-child(1) {
        margin-right: 20px;
    }

    .container-list__item:nth-child(3) {
        margin-right: 20px;
    }

    .list-item__article {
        padding-top: 50px;
    }

    .list-item__article {
        font-size: 30px;
        letter-spacing: 1px;
        color: #222222;
        font-family: "Ubuntu";
        font-weight: 700;
        padding-top: 30px;
    }

    .list-item__box {
        width: 88.33%;
        height: 89.6551724%;
    }

    .container-article {
        font-size: 33px;
        letter-spacing: 1px;
        line-height: 78px;
        color: #222222;
        font-family: "Open Sans";
        font-weight: 700;
        margin-bottom: 75px;
    }

    .container-list__item {
        height: 300px;
        width: 48.3870968%;
    }
}







@media (min-width: 1200px) {
    .structure-section {
        width: 88.4210526316%;

    }

    .container-list {
        flex-wrap: nowrap;
    }

    .container-list__item {
        padding-right: 15px;
        width: 23.0769230769%;
        margin-right: 33px;
    }

    .list-item__article {
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .container-list__item:nth-child(1) {
        margin-right: 33px;
    }

    .container-list__item:nth-child(3) {
        margin-right: 33px;
    }

    .list-item__text {
    
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 28px;
        color: #444444;
        font-family: "Ubuntu";
        font-weight: 400;
    }
}
@media (min-width: 1900px) {
    .structure-section { width: 68.4210526316%;
    }
    }